
{% block title %} Home page {% endblock %}
{% block content %}
<div>
{% for item in backends.associated %}
	{% if item.provider == 'facebook' %}
		<div><img src="{{item.extra_data.picture.data.url}}" 
width="100" height="100">
		</div>
		<div>
			<h1>Hi, {{ item.extra_data.name}}!</h1>
		</div>
	{% endif %}
{% endfor %}
</div>

<!-- <h1>You don't have any memories yet!</h1> -->
{% for post in posts %}
	{% ifequal post.author|stringformat:"s" user.username|stringformat:"s" %}
	<p><a href="{% url 'memory_detail' pk=post.pk%}">
		{{post.description}}
	</a></p>
	{% endifequal %}
{% empty %}
	<p>У тебя нет воспоминаний!</p>
{% endfor %}
<button><a href="{% url 'memory' %}">Add memory</a></button>
<button><a href="{% url 'logout' %}">Logout</a></button>

{% endblock %}
