{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %} Memory creation {% endblock %}
{% block content %}
	<form role="form" class="form-horizontal" method = "POST"> 
		{% csrf_token %}


		{{ form.as_p }}

	<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'>
	</script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />	
	<div id='map' style='width: 400px; height: 300px;'>
	</div>
	<script>
		mapboxgl.accessToken = '{{ mapbox_token }}';
		var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v11',
     		center: [60.61, 56.85],
     		zoom: 8
		});
		var lat = 0.0
		var lng = 0.0
		var count = 0;
		map.on('click', function(e) {
			if (count == 0){
				var marker = new mapboxgl.Marker({draggable: true})
				.setLngLat(e.lngLat)
				.addTo(map);
				lngLat = marker.getLngLat();
				console.log(lngLat);
				lat = lngLat.lat;
				lng = lngLat.lng;
				document.getElementById('lat').value = lat
				document.getElementById('lng').value = lng
				count++;
			}
		});


			
	</script>
	<input id="lat" name="lat">
	<input id="lng" name="lng">
	{% buttons submit='Сохранить' reset='Сброс' layout='horizontal' %}	
	<!--<button>Сохранить</button>
	<button><a href="{% url 'home' %}">Отмена</button>-->
	{% endbuttons %}
	</form>
{% endblock %}
